*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg , #8406ed, #ff1252);
}
.select-menu {
    width: 380px;
    margin: 150px auto;

}
.select-menu .select-btn {
    position: relative;
    display: flex;
    top: -140px;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: #ffff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0 , 0, 0, .1);
}
.select-menu .list {
    position: absolute;
    width: 380px;
    transform:  translateY(-140px);
    -webkit-transform:  translateY(-140px);
    -moz-transform:  translateY(-140px);
    -ms-transform:  translateY(-140px);
    -o-transform:  translateY(-140px);
    margin-top: 10px;
}
.list .option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    background: #fff;
    padding: 0 16px;
    cursor: pointer;
    transform-origin: top;
    transform:scale(0) translateY(-65px) ;
    -webkit-transform:scale(0) translateY(-65px) ;
    -moz-transform:scale(0) translateY(-65px) ;
    -ms-transform:scale(0) translateY(-65px) ;
    -o-transform:scale(0) translateY(-65px) ;
    margin-bottom: -55px;
}
.select-btn.active~.list .option{
    transition: transform .5s ease-in-out, margin-bottom .2s ease-in-out ;
    transition-delay: calc(.1s * var());
    transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    -o-transform: scale(1) translateY(0);
    margin-bottom: 0;
    -webkit-transition: transform .5s ease-in-out, margin-bottom .2s ease-in-out ;
    -moz-transition: transform .5s ease-in-out, margin-bottom .2s ease-in-out ;
    -ms-transition: transform .5s ease-in-out, margin-bottom .2s ease-in-out ;
    -o-transition: transform .5s ease-in-out, margin-bottom .2s ease-in-out ;
}
.list .option:hover {
    background: #f2f2f2;

}
.list .option:nth-child(1){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.list .option:nth-child(5){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

